@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Merriweather:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 25 35% 83%;
    --foreground: 25 40% 20%;

    --card: 30 40% 90%;
    --card-foreground: 25 40% 20%;

    --popover: 30 40% 90%;
    --popover-foreground: 25 40% 20%;

    --primary: 25 45% 35%;
    --primary-foreground: 30 40% 95%;

    --secondary: 30 30% 70%;
    --secondary-foreground: 25 40% 20%;

    --muted: 30 25% 80%;
    --muted-foreground: 25 20% 45%;

    --accent: 30 35% 75%;
    --accent-foreground: 25 40% 20%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 30 40% 95%;

    --border: 25 25% 65%;
    --input: 30 30% 85%;
    --ring: 25 45% 35%;

    --radius: 1rem;

    --sidebar-background: 30 40% 88%;
    --sidebar-foreground: 25 40% 20%;
    --sidebar-primary: 25 45% 35%;
    --sidebar-primary-foreground: 30 40% 95%;
    --sidebar-accent: 30 35% 75%;
    --sidebar-accent-foreground: 25 40% 20%;
    --sidebar-border: 25 25% 65%;
    --sidebar-ring: 25 45% 35%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Merriweather", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Caveat", cursive;
  }
}
